<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Charts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-6 col-sm-12" id="radar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Front End Skill Chart</div>
            <div class="panel-body">
                <canvas id="area" class="chart chart-radar" data="frontdata" labels="frontlabels" click="onClick"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="pie-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Back End Skill Chart</div>
            <div class="panel-body">
                <canvas id="pie" class="chart chart-radar" data="backdata" labels="backlabels" click="onClick"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-sm-12" id="polar area-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Build and Release Skill Chart</div>
            <div class="panel-body">
                <canvas id="polar" class="chart chart-radar" data="builddata" labels="buildlabels" click="onClick"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="base-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Infrastructure Skill Chart</div>
            <div class="panel-body">
                <canvas id="base" class="chart chart-radar" data="infradata" labels="infralabels" click="onClick"></canvas>
            </div>
        </div>
    </div>
</div>